useDynLib(HaploGeno, .registration = TRUE)
importFrom(Rcpp, evalCpp)
import(R6)
import(bigstatsr)
import(data.table)
import(methods)

import(future)
import(future.apply)
import(bigsnpr)
import(progressr)
exportPattern("^[[:alpha:]]+")
